.site-logo{width:147px!important;height:18px!important;min-width:147px!important}
@media(max-width:1240px){.site-logo{width:129px!important;height:16px!important;min-width:129px!important}}
@media(max-width:980px){.site-logo{width:122px!important;height:16px!important;min-width:122px!important}}
@media(max-width:680px){.site-logo{width:112px!important;height:14px!important;min-width:112px!important}}
